/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500);
@font-face {
font-family:american;
src: url("/font/American Typewriter Regular/American Typewriter Regular.ttf");
}
$bg-body:rgb(255, 255, 255);
$bShadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
$insetShadow:inset 0px 2px 4px 0px rgba(0,0,0,0.50);
$font-black: rgba(0, 0, 0, 0.5);

body{
 width: 100%;
 display: flex;
 flex-direction: column;
 height: auto;
 margin: auto;
 // font-family: 'Dosis', sans-serif;
 font-family: 'Maven Pro', sans-serif;
 background-color: $bg-body;

 .warper{
 display: flex;
 margin-top: 40px;
  main{
   // position: relative;
   width: 70%;
   height: auto;
   margin: auto;
   display: flex;
   flex-direction: column;

   .middle-container{
    // background-color: rgb(140, 22, 51);
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    height: auto;
    width: 100%;
   }
   .containe-presentation-site{
    background-color: rgba(122, 125, 114, 0.3);
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    margin-top: 40px;
    box-shadow: $bShadow;
    width: 100%;
    h2{
     line-height: 38px;
     font-size: 28px;
     text-align: center;
     padding: 15px 0;
     background-color: rgba(46, 44, 45, 1);
    }
    .container-form-text{
     display: flex;
     width: 100%;
     .form-text{
      width: 90%;
      display: flex;
      margin:20px;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      background-color: rgb(255, 255, 255);
      p{
       color: $font-black;
       line-height: 28px;
       width: 80%;
       margin-top: 20px;
       text-align: justify;
      }
     }
    }
   }
  }
 }
}
