@import "compass/reset";
@import "compass";

$bg-body:rgb(255, 255, 255);
$bShadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
$insetShadow:inset 0px 2px 4px 0px rgba(0,0,0,0.50);
$font-black: rgba(0, 0, 0, 0.5);
$body-bg: rgb(0, 0, 0);
$color-font: rgba(255, 255, 255, 0.71);
$btn-bg:#03172e;

body{
   .signUp{
    width: 80%;
    height: 700px;
    margin:0 auto ;
    background-color:#939191;
    display: flex;
    justify-content:space-between;
    align-items: center;
    // background: linear-gradient(to right, rgba(6,19,29,0.46) 0%, rgba(9,24,36,0.46) 13%, rgba(16,34,50,0.61) 39%, rgba(11,29,46,0.73) 61%, rgba(2,19,38,0.73) 100%);
    color:$color-font;

    #signIn{
     background: linear-gradient(182deg, rgba(3,23,46,0.5) 0%, rgba(7,53,105,0.5) 49%, rgba(6,57,107,0.5) 51%, rgba(0,163,163,0.5) 100%);
    }

  .container{
    width: 98%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(162deg, rgba(3,23,46,0.5) 0%, rgba(7,53,105,0.5) 49%, rgba(6,57,107,0.5) 51%, rgba(0,163,163,0.5) 100%);
    box-shadow: 7px 8px 5px -3px rgba(0,0,0,0.58);

    &:first-of-type{
     margin-right: 20px;
    }

   .container-signUp{
     position: relative;
     width: 89%;
     height: 80%;
     display: flex;
     border-radius: 5px;
     align-items: center;
     justify-content: space-around;
     flex-direction: column;
     padding: 2%;
     .add-photo{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px auto;;
      .upload-photo{
       width: 200px;
       height: 200px;
       border-radius: 100px;
       background-color: rgb(184, 179, 39);
       display: flex;
       justify-content: center;
       align-items: center;
      }
     }
       h1{
        top: 0;
        left:40% ;
        font-size: 25px;
       }
     .form-group{
       // position: absolute;
       z-index: 2;
       left: 7.5%;
       top: 15%;
       width: 85%;
       height: auto;
       display: flex;
       align-items: center;
       flex-direction: column;
       .info-rue{
        display: flex;
        justify-content: center;
        align-items: center;
       }
       .info-ville{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
       }
      input{
        width: 86%;
        height: 40px;
        margin:5px 0 11px 0;
        padding-left: 15px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        background-color: transparent;
        color:$color-font;
      }
      select{
       margin: 30px auto 20px auto;
       width: 80%;
      }
      .container-btn-status{
       button{
        margin:10px auto 30px auto;
       }
      }
      textarea{
       margin: 10px 0 0 0;
      }
      .label-input{
       position: absolute;
       left: 0%;
       height:30px;
       font-size: 13px;
       width: 50%;
       display: flex;
       justify-content:center;
       align-items: center;

       h2{
        margin-bottom: 7px;
        width:100%;
        margin-left: -45px;
       }
      }
     }
     .boutton-envoyer{
      width: 60%;
      height:auto;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
       padding: 15px 20px;
       background-color: rgb(11, 176, 23);
       border-radius: 5px;
       text-decoration: none;
       color: white;
      }
     }
     .boutton{
       position: absolute;
       width: 75.5%;
       text-align: center;
       height: 45px;
       display: flex;
       justify-content: center;
       align-items: center;
       left:12%;
       top: 95%;
       bottom:0%;
       // border-radius: 30px;
       background-color: rgba(3, 23, 46, 0.75);
     }
     #boutton-bis{
      margin-top: 60%;
      width: 90%;
      left: 5%;
     }
    }
   }
  }
  #cercle-black{
   background-color: $body-bg;
  }
}
