<!DOCTYPE html>
<html lang="en" ng-app="appProjectSenior" scroll>
<head>
 <meta charset="UTF-8">


 <!-- COMPONEMENTS -->

 <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
 <link rel="stylesheet" href="../../bower_components/angular-bootstrap/ui-bootstrap-csp.css" media="screen" title="no title" charset="utf-8">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.css" media="screen" title="no title" charset="utf-8">



 <!-- CSS -->
 <link rel="stylesheet" href="../../stylesheets/header.css" media="screen" title="no title" charset="utf-8">
 <link rel="stylesheet" href="../../stylesheets/profils.css" media="screen" title="no title" charset="utf-8">
 <link rel="stylesheet" href="../../stylesheets/signUp2.css" media="screen" title="no title" charset="utf-8">
 <link rel="stylesheet" href="../../stylesheets/login.css" media="screen" title="no title" charset="utf-8">
 <link rel="stylesheet" href="../../stylesheets/diana.css" media="screen" title="no title" charset="utf-8">
 <link rel="stylesheet" href="../../stylesheets/annonceRecruteur.css" media="screen" title="no title" charset="utf-8">
 <link rel="stylesheet" href="../../stylesheets/annonceRetraite.css" media="screen" title="no title" charset="utf-8">
 <link rel="stylesheet" href="../../stylesheets/footer.css" media="screen" title="no title" charset="utf-8">
 <link rel="stylesheet" href="../../stylesheets/home.css" media="screen" title="no title" charset="utf-8">
 <title>Project Senior</title>
</head>



<body>
 <header>
  <nav class="nav-menu" ng-controller="menuCtrl">
   <ul>
    <li class="logo">
     <a href="">Retraite Active</a>
    </li>
    <li class="menu-lorem">
     <a href="#/home">Home</a>
    </li>
    <li class="menu-home">
     <a href="" ng-click="toggleMenuProfils()">Profils</a>
     <ul ng-show="showMenuProfils">
      <li ng-click="toggleMenuProfils()"><a href="#/recruteur">Entreprise</a></li>
      <li ng-click="toggleMenuProfils()"><a href="#/retraite">Retraités</a></li>
      <li ng-click="toggleMenuProfils()"><a href="#/particulier">Particuliers</a></li>
     </ul>
    </li>
    <li class="menu-home">
     <a href="" ng-click="toggleMenuConnexion()">Connexion</a>
      <ul ng-show="showMenuConnexion">
       <li ng-click="toggleMenuConnexion()"><a href="#/login">Recruteur</a></li>
       <li ng-click="toggleMenuConnexion()"><a href="#/login">Retraités</a></li>
      </ul>
    </li>
    <li class="menu-inscription">
     <a href="#/inscription">Inscription</a>
    </li>
   </ul>
  </nav>
  <nav class="nav-search">
   <ul>
    <li class="nav-search-select">
     <span>
      <img src="../../images/icon/user.svg" alt="" />
     </span>
     <select>
       <option value="retraité"><a >Retraité</a></option>
       <option value="entreprise">Une entreprise</option>
       <option value="association">Une assocition</option>
       <option value="ecole">Une ecole</option>
       <option value="particulier">Un particulier</option>
     </select>
    </li>
    <li class=" position-search-input">
     <span>
      <img src="../../images/icon/placeholder.svg" alt="" />
     </span>
     <input type="text" name="" id="" placeholder="code postal">
    </li>
    <li class=" competence-search-input">
     <div class="add-competence" ng-click="toggleCompetence()">
      <a href="">Chercher par compétences</a>
     </div>
     <span class="boutton-send">
      <img src="../../images/icon/magnifying-glass.svg" alt="" />
     </span>
    </li>
   </ul>
  </nav>
 </header>
 <section class="avant-annonce" ng-controller="competenceCtrl" ng-show="showCompetence">
  <div class="container-avant-compétence">
   <ul>
    <li><img src="../../images/icon/free-60-icons-02.png" alt="" /></li>
    <li><img src="../../images/icon/free-60-icons-03.png" alt="" /></li>
    <li><img src="../../images/icon/free-60-icons-04.png" alt="" /></li>
    <li><img src="../../images/icon/free-60-icons-05.png" alt="" /></li>
   </ul>
  </div>
  <div>
   <ul>
    <li><img src="../../images/icon/free-60-icons-06.png" alt="" /></li>
    <li><img src="../../images/icon/free-60-icons-07.png" alt="" /></li>
    <li><img src="../../images/icon/free-60-icons-08.png" alt="" /></li>
    <li><img src="../../images/icon/free-60-icons-09.png" alt="" /></li>
   </ul>
  </div>
  <div>
   <ul>
    <li><img src="../../images/icon/free-60-icons-19.png" alt="" /></li>
    <li><img src="../../images/icon/free-60-icons-11.png" alt="" /></li>
    <li><img src="../../images/icon/free-60-icons-12.png" alt="" /></li>
    <li><img src="../../images/icon/free-60-icons-13.png" alt="" /></li>
   </ul>
  </div>
  <div>
   <ul>
    <li><img src="../../images/icon/free-60-icons-14.png" alt="" /></li>
    <a href="#/particulier" ng-click="toggleCompetence()"><li><img src="../../images/icon/free-60-icons-15.png" alt="" /></li></a>
    <li><img src="../../images/icon/free-60-icons-16.png" alt="" /></li>
    <li><img src="../../images/icon/free-60-icons-17.png" alt="" /></li>
   </ul>
  </div>
 </section>


<!-- MAIN -->

<section class="warper">
  <main ng-view>
  </main>
  <!-- <annonce-retraite ng-hide="showAnnonceRetraite"></annonce-retraite> -->
</section>



 <footer>
  <ul class="list-social-icon">
   <li><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></li>
   <li><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></li>
   <li><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></li>
   <li><i class="fa fa-pinterest fa-3x" aria-hidden="true"></i></li>
  </ul>
 </footer>


<!-- JQUERY -->
 <script src="../../bower_components/jquery/dist/jquery.js"></script>

 <!-- REQUIREMENT -->
 <script src="../../bower_components/angular/angular.js" charset="utf-8"></script>
 <script src="../../bower_components/angular-route/angular-route.js" charset="utf-8"></script>
 <script src="../../bower_components/angular-animate/angular-animate.js" charset="utf-8"></script>
 <script src="../../bower_components/angular-touch/angular-touch.js" charset="utf-8"></script>
 <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js" charset="utf-8"></script>
 <script src="../../bower_components/angular-bootstrap/ui-bootstrap.js" charset="utf-8"></script>
 <script src="../appProjectSenior.js"></script>
 <script src="../routesProjectSenior.js" charset="utf-8"></script>

 <!-- CONTROLLERS -->

 <script type="text/javascript" src="../controllers/retraiteCtrl.js"></script>
 <script type="text/javascript" src="../controllers/societesCtrl.js"></script>
 <script type="text/javascript" src="../controllers/competenceCtrl.js"></script>
 <script type="text/javascript" src="../controllers/menuCtrl.js"></script>
 <script type="text/javascript" src="../controllers/recruteurCtrl.js"></script>
 <script type="text/javascript" src="../controllers/recruteurDirectiveCtrl.js"></script>
 <script type="text/javascript" src="../controllers/carrouselRecruteur.js"></script>
 <script type="text/javascript" src="../controllers/loginCtrl.js"></script>
 <script type="text/javascript" src="../controllers/signInCtrl.js"></script>


 <!--FACTORIES -->

 <script src="../services/retraitreFactory.js"></script>
 <script src="../services/societesFactory.js"></script>

 <!-- DIRECTIVES -->
<script src="../directives/annonceRetraite.js"></script>
<script src="../directives/scrollDirective.js"></script>
<!-- SCRIPT -->
<script src="../js/fixedPosition.js"></script>

</body>
