/* line 5, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce {
  background-color: #D8D8D8;
  width: 100%;
  height: auto;
}
/* line 17, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .titre-container-annonce {
  width: 100%;
  background: linear-gradient(to bottom, rgba(53, 106, 160, 0.6) 0%, rgba(53, 106, 160, 0.6) 100%);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 26, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .titre-container-annonce h2 {
  font-size: 26px;
}
/* line 30, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise {
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  width: 88%;
  height: auto;
  margin: 5% auto;
}
/* line 37, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-entreprise {
  background-image: url(../images/bg-entreprise.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  width: 50%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* line 48, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-entreprise .img-entreprise {
  position: relative;
  width: 60%;
  margin-bottom: 10px;
}
/* line 52, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-entreprise .img-entreprise .btn-entreprise {
  position: relative;
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: #8BC34A;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
/* line 60, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-entreprise .img-entreprise .btn-entreprise a {
  text-decoration: none;
  padding: 5px;
  color: white;
}
/* line 68, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-profils-entreprise {
  width: 50%;
  height: 450px;
  position: relative;
  display: flex;
  background-color: rgba(255, 255, 255, 0.42);
}
/* line 74, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-profils-entreprise .container-info-entreprise {
  width: 96.5%;
  height: 100%;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 82, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-profils-entreprise .container-info-entreprise .nom-entreprise {
  text-align: center;
  height: 10%;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
/* line 93, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-profils-entreprise .container-info-entreprise .img-profils-entreprise {
  position: relative;
  background-color: #F8D542;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  overflow: hidden;
  margin: 5% 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
/* line 105, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-profils-entreprise .container-info-entreprise .img-profils-entreprise img {
  width: 100%;
  margin-top: 18%;
}
/* line 110, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-profils-entreprise .container-info-entreprise .annonce-entreprise {
  width: 90%;
  margin: auto;
  text-align: center;
  line-height: 20px;
}
/* line 116, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-profils-entreprise .container-info-entreprise .annonce-entreprise h4 {
  text-align: center;
  line-height: 36px;
  font-size: 25px;
  margin-bottom: 15px;
}
/* line 122, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-profils-entreprise .container-info-entreprise .annonce-entreprise p {
  font-size: 15px;
  text-align: justify;
}
/* line 129, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-profils-entreprise .add-entreprise .bg-add-entreprise {
  position: absolute;
  background-color: #adadad;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  top: 40%;
  left: 91%;
}
/* line 141, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-profils-entreprise .add-entreprise .bg-add-entreprise .cross-add {
  background-color: #80CBC4;
  width: 56px;
  height: 56px;
  border-radius: 33px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
/* line 151, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .container-card-entreprise .card-profils-entreprise .add-entreprise .bg-add-entreprise .cross-add i {
  color: white;
}
/* line 159, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .btn-carroussel {
  width: 150px;
  height: 50px;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: space-between;
}
/* line 166, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .btn-carroussel #btn-left {
  width: 50px;
  height: 50px;
}
/* line 169, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .btn-carroussel #btn-left img {
  width: 100%;
  height: 100%;
}
/* line 174, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .btn-carroussel #btn-right {
  width: 50px;
  height: 50px;
}
/* line 177, ../sass/annonceRecruteur.scss */
body .warper .middle-container .container-annonce .btn-carroussel #btn-right img {
  width: 100%;
  height: 100%;
}
