/*body {
	background-color: #D8D8D8;
	font-family: 'Source Code Pro', 'Courier 10 Pitch', 'Courier New';
}*/
main{
	width: 100%;

}
.titre-entreprise{
	width: 80%;
	margin: auto;
	background-color: rgb(35, 123, 164);
	height: 80px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-dt {
	width:80%;
	height:auto;
	margin:50px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
 background-color: rgba(122, 125, 114, 0.3);
	position: relative;
}

/*  = = = = = = = = = =  Div de gauche : photo  = = = = = = = = = = */
.profil-photo,  .profil-details {
	box-shadow:  0px 2px 4px 0px rgba(0,0,0,0.50);
	background-color: rgb(196, 198, 200);
	position:relative;
}

.profil-photo {
	width: 39%;
	height:850px;
	top:0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(81, 94, 144, 0.8);
}


/* Photos */
.societe-pic, .senior-pic, .particulier {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

/* = = = =  Photo du particulier = = = = */
.particulier {
	background-image: url(../images/icon/showman.svg);
	background-color:lightgreen;
	margin:26px auto;
}

/* = = = =  Photo du professionnel = = = = */
.img-pro {
	width: 100%;
	height: 290px;
	position: relative;
}
.societe-pic {
	background-image: url(../images/icon/manager.svg);
	background-color: #F8D542;
	box-shadow:  0px 2px 4px 0px rgba(0,0,0,0.50);
	margin:30px auto;
}

.societe-logo {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	position: absolute;
	right:55px;
	bottom:15px;
	background-image: url(../images/bg-entreprise2.jpg);
	box-shadow:  0px 2px 4px 0px rgba(0,0,0,0.50);
	background-size: cover;
}


/*  = = = =  Photo du senior  = = = = = */
.senior-pic {
	background-color: gray;
	background-image: url(../images/icon/writer.svg);
	margin:30px auto;
}

/*  = = = = =  Nom du senior et de l'entreprise = = = = =  */
.pro-name, .senior-name {
	font-size: 36px;
	color: rgb(255, 255, 255);
	text-align: center;
}

.pro-name {
	margin-top: 0px;
}

/*  = = = = = = = = = =   géolocalisation  = = = = = = = = = = */
.geo {
	height: 80px;
	margin-top: 50px;
	margin-bottom: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.geo p {
	width: 70%;
	font-size: 20px;
	color:rgb(246, 241, 246);
	margin-left: 15px;
}

.ico-geo {
	width: 64px;
	height: 64px;
	margin-top: 10px;
	/*float:left;*/
	background-image: url(../images/icon/placeholder.svg);
	background-size: cover;
	background-position: center;
}


/*  = = = = = = = = = =  COMMENTAIRE  = = = = = = = = = = */
.comment-title {
	width: 90%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	color: rgb(255, 255, 255);
	text-align: center;
}

.comment {
	width: 90%;
	height: 175px;
	background-color: #EDEDED;
	margin-top: 20px;
	padding:3px;
	/*outline: none;
	resize: none;*/
}

.comment:focus {
	background-color:rgba(161,204,185,0.4);
}





/*  = = = = = = = = = =  Div de droite : infos détaillées = = = = = = = = = = */
.profil-details {
	width: 59%;
	height:900px;
	background-color: rgb(255, 255, 255);
}

/* à propos --------- 1° partie de la div profil-details ---------  */
.about {
	height: 60px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.about h2 {
	font-size: 26px;
	color: white;
}

.about, .biopic {
/*	width: 85%;*/
	margin:20px 20px 20px 20px;
	background-color:#D8D8D8;
}

/*  présentation  --------- 2° partie de la div profil-details ---------  */
.biopic p {
	width: 95%;
	margin: auto;
	padding: 8px;
	font-size: 16px;
	line-height: 26px;
	color:#908A6A;
	text-align: justify;
}

/* --------- 3eme partie de la div profil-details ---------  */
.gauche-droite {
	height:auto;
	display: flex;
	flex-wrap: nowrap;
	/*background-color: red;*/
}


/* ---------  partie gauche de la div "profil-details"  ---------  */
.gauche {
	width: 50%;
}

./*skills-pro {

}*/

.on-recherche {
	font-size: 20px;
	color:#A3A0A0;
	width: 100%;
	text-align: center;

}

.status, .status-bis, .skill-title, .dispo-title, .fake-button {
	height: 65px;
	display:flex;
	justify-content: center;
	align-items: center;
}

/*.pro { font-weight: bold; font-size:32px !important;}*/

/*   EFFETS sur les boutons */
.status:hover, .status-bis:hover, .skill-title:hover, .dispo-title:hover, .fake-button:hover {
	cursor: pointer;
}

.status:active, .status-bis:active, .skill-title:active, .dispo-title:active, .fake-button:active {
	box-shadow:inset 0 0 10px transparent;
}

/* div statut + compétences */
.skills {
	width: 85%;
	margin:0 auto;
	display: flex;
	flex-direction: column;
}

/* Statut */
.status {
	background-color: #F4F4F4;
	/*box-shadow: 0px 2px 1px lightgray;*/
	color:#A3A0A0;
	font-size:26px;
	width: 100%;
	margin-right:10px;
}

.status-bis {
	background-color:transparent;
	color:#91DB62;
	font-size:26px;
	margin-bottom: 15px;
	margin-top: 15px;
}

/* Mes Compétences */
 .skill-title {
 	background-color: #E5E5E5;
 	/*box-shadow: 0px 2px 1px #A3A0A0;*/
 	color:white;
 	font-size:24px;
 	width: 100%;

 	text-align: center;
 }

/*  div contenant les 6 items de compétences */
 .skills-pack {
 	margin-top:20px;
 	width: 100%;
 	height: 282px;
 	display: flex;
 	flex-wrap: wrap;
		align-items: center;
 	justify-content: space-between;
}

/* item compétence */
.skill-label {
	width: 48%;
	height: 70px;
	/*border: 1px solid rgb(240, 181, 203);*/
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-radius:10px;
	display: flex;
	flex-direction: column;  /*   Sinon 'Electricité dépasse ou alors le mot n'est pas lisible */
	align-items: center;
}

/*  nom du domaine */
.skill-label small {
	font-size: 15px;
	color:black;
	position: relative;
}

.skill-ico {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-position:center;
	background-size: cover;
	float: left;
}

.domaine1 { background-image: url(../images/icon/free-60-icons-14.png); } /*  électricité */
.domaine2{ background-image: url(../images/icon/free-60-icons-15.png); } /*  dessin */
.domaine3{ background-image: url(../images/icon/free-60-icons-24.png); } /*  cuisine */

.domaine4 { background-image: url(../images/icon/free-60-icons-52.png); } /*  compta */
.domaine5{ background-image: url(../images/icon/free-60-icons-53.png); } /*  terminal CB*/
.domaine6{ background-image: url(../images/icon/free-60-icons-28.png); } /*  agenda */

.domaine7 { background-image: url(../images/icon/free-60-icons-27.png); } /*  peinture */
.domaine8 { background-image: url(../images/icon/free-60-icons-34.png); } /*  baignoire */
.domaine9 { background-image: url(../images/icon/free-60-icons-xx.png); } /*  */


/* ============== DISPONIBILITÉS ============== */

/* ---------  partie droite de la div "profil-details"  ---------  */
 .droite {
	/*background-color: lightgreen;*/
	width: 50%;
	display: flex;
	flex-direction: column;
}

 .dispos {
 width: 96%;
	/*background-color: #E2E2E2;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* disponibilités */
.dispo-title {
	width: 85%;
	margin: auto;
	background-color: rgba(56, 153, 121, 0.79);
	font-size:22px;
	color:white;
}

/* calendrier */
.calendar {
	width:222px;
	height: 308px;
	margin:20px auto;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	background-image: url(../images/calendar.jpg);
	background-size: cover;
	background-position: center;
}

/*  bouton contact */

.fake-button {
	width: 220px;
	height: 55px;
	margin:0 auto;
	margin-bottom: 20px;
	background-color: #C9E6AC;
	box-shadow: 0px 2px 1px #A3A0A0;
	color:black;
	font-size: 24px;
}
