/* line 5, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/header.scss */
body header {
  width: 100%;
  height: 600px;
  background-color: rgba(69, 102, 121, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 24, ../sass/header.scss */
body header .nav-menu ul {
  position: relative;
  width: 98%;
  margin: 1% auto;
  height: auto;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
}
/* line 33, ../sass/header.scss */
body header .nav-menu .logo {
  width: 60%;
  text-align: left;
}
/* line 36, ../sass/header.scss */
body header .nav-menu .logo a {
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 34px;
}
/* line 44, ../sass/header.scss */
body header .nav-menu .menu-home {
  text-align: center;
}
/* line 50, ../sass/header.scss */
body header .nav-menu .menu-home ul {
  position: relative;
  top: 7%;
  background-color: rgba(117, 249, 159, 0.62);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
/* line 59, ../sass/header.scss */
body header .nav-menu .menu-home ul li {
  width: 100%;
  height: 60px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 66, ../sass/header.scss */
body header .nav-menu .menu-home ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 78, ../sass/header.scss */
body header .nav-menu li {
  height: auto;
  width: 10%;
  text-align: center;
}
/* line 82, ../sass/header.scss */
body header .nav-menu li a {
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 22px;
}
/* line 89, ../sass/header.scss */
body header .nav-menu li a:hover {
  color: #28041a;
}
/* line 95, ../sass/header.scss */
body header .nav-search {
  height: auto;
}
/* line 97, ../sass/header.scss */
body header .nav-search ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}
/* line 103, ../sass/header.scss */
body header .nav-search ul .nav-search-select {
  background-color: rgba(69, 102, 121, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* line 109, ../sass/header.scss */
body header .nav-search ul .position-search-input {
  background-color: rgba(74, 96, 111, 0.7);
}
/* line 112, ../sass/header.scss */
body header .nav-search ul .competence-search-input {
  background-color: rgba(57, 72, 82, 0.7);
}
/* line 115, ../sass/header.scss */
body header .nav-search ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 33.3%;
  height: 100%;
  text-align: center;
  background-color: #e9ae16;
}
/* line 124, ../sass/header.scss */
body header .nav-search ul li input {
  height: 40px;
  width: 75%;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}
/* line 131, ../sass/header.scss */
body header .nav-search ul li .add-competence {
  width: 70%;
  height: 40px;
  border-radius: 5px;
  background-color: #383737;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
/* line 140, ../sass/header.scss */
body header .nav-search ul li .add-competence a {
  text-decoration: none;
  color: white;
}
/* line 145, ../sass/header.scss */
body header .nav-search ul li select {
  height: 40px;
  width: 73%;
  text-align: center;
}
/* line 150, ../sass/header.scss */
body header .nav-search ul li select option {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* line 157, ../sass/header.scss */
body header .nav-search ul li select option:nth-child(1) {
  background-color: #222222;
}
/* line 160, ../sass/header.scss */
body header .nav-search ul li select option:nth-child(2) {
  background-color: #333333;
}
/* line 163, ../sass/header.scss */
body header .nav-search ul li select option:nth-child(3) {
  background-color: #444444;
}
/* line 166, ../sass/header.scss */
body header .nav-search ul li select option:nth-child(4) {
  background-color: #555555;
}
/* line 169, ../sass/header.scss */
body header .nav-search ul li select option:nth-child(5) {
  background-color: #666666;
}
/* line 174, ../sass/header.scss */
body header .nav-search ul li .boutton-send {
  background-color: #2d6301;
  width: 60px;
  height: 60px;
}
/* line 178, ../sass/header.scss */
body header .nav-search ul li .boutton-send img {
  width: 85%;
  height: 85%;
}
/* line 183, ../sass/header.scss */
body header .nav-search ul li span {
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
/* line 190, ../sass/header.scss */
body header .nav-search ul li span img {
  width: 100%;
  height: 100%;
}
/* line 199, ../sass/header.scss */
body .avant-annonce {
  width: 95%;
  margin: auto;
  height: 300px;
  background-color: rgba(228, 228, 221, 0.82);
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 209, ../sass/header.scss */
body .avant-annonce div {
  width: 24%;
  height: 94%;
  background-color: rgba(255, 255, 255, 0.59);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
/* line 218, ../sass/header.scss */
body .avant-annonce div ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
/* line 225, ../sass/header.scss */
body .avant-annonce div ul li {
  width: 48%;
  height: 48%;
  background-color: #c88362;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
/* line 233, ../sass/header.scss */
body .avant-annonce div ul li:hover {
  background-color: rgba(0, 0, 0, 0.63);
}
/* line 236, ../sass/header.scss */
body .avant-annonce div ul li img {
  width: 70%;
  height: 70%;
}
