/* line 5, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/login.scss */
.container-form-signIn {
  background-color: #939191;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 17, ../sass/login.scss */
.container-form-signIn .top-line {
  background: linear-gradient(to bottom, rgba(53, 106, 160, 0.6) 0%, rgba(53, 106, 160, 0.6) 100%);
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
/* line 28, ../sass/login.scss */
.container-form-signIn .container-login {
  width: 70%;
  margin: 30px auto;
  background-color: #939191;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 36, ../sass/login.scss */
.container-form-signIn .container-login .form-group {
  width: 90%;
  margin: 30px auto;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  flex-direction: column;
}
/* line 46, ../sass/login.scss */
.container-form-signIn .container-login .form-group input {
  height: 35px;
  width: 400px;
  border: none;
  background-color: #e9e9e9;
}
/* line 52, ../sass/login.scss */
.container-form-signIn .container-login .form-group .user-logo {
  margin: 20px 0;
}
/* line 55, ../sass/login.scss */
.container-form-signIn .container-login .form-group .mail-logo {
  margin: 20px 0;
}
/* line 58, ../sass/login.scss */
.container-form-signIn .container-login .form-group .password-logo {
  margin: 20px 0;
}
/* line 62, ../sass/login.scss */
.container-form-signIn .container-login .submit-button {
  width: 50%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  height: 35px;
  background-color: #0bb017;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
/* line 72, ../sass/login.scss */
.container-form-signIn .container-login .submit-button:hover {
  background-color: #e8e8e8;
  color: #0bb017;
}
/* line 77, ../sass/login.scss */
.container-form-signIn .container-login .submit-button a {
  font-size: 22px;
  text-decoration: none;
  color: white;
}
/* line 82, ../sass/login.scss */
.container-form-signIn .container-login .submit-button a:hover {
  color: #0bb017;
}
