/* line 5, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/signUp2.scss */
body .signUp {
  width: 80%;
  height: 700px;
  margin: 0 auto;
  background-color: #939191;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.71);
}
/* line 24, ../sass/signUp2.scss */
body .signUp #signIn {
  background: linear-gradient(182deg, rgba(3, 23, 46, 0.5) 0%, rgba(7, 53, 105, 0.5) 49%, rgba(6, 57, 107, 0.5) 51%, rgba(0, 163, 163, 0.5) 100%);
}
/* line 28, ../sass/signUp2.scss */
body .signUp .container {
  width: 98%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(162deg, rgba(3, 23, 46, 0.5) 0%, rgba(7, 53, 105, 0.5) 49%, rgba(6, 57, 107, 0.5) 51%, rgba(0, 163, 163, 0.5) 100%);
  box-shadow: 7px 8px 5px -3px rgba(0, 0, 0, 0.58);
}
/* line 38, ../sass/signUp2.scss */
body .signUp .container:first-of-type {
  margin-right: 20px;
}
/* line 42, ../sass/signUp2.scss */
body .signUp .container .container-signUp {
  position: relative;
  width: 89%;
  height: 80%;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 2%;
}
/* line 52, ../sass/signUp2.scss */
body .signUp .container .container-signUp .add-photo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
/* line 59, ../sass/signUp2.scss */
body .signUp .container .container-signUp .add-photo .upload-photo {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #b8b327;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 69, ../sass/signUp2.scss */
body .signUp .container .container-signUp h1 {
  top: 0;
  left: 40%;
  font-size: 25px;
}
/* line 74, ../sass/signUp2.scss */
body .signUp .container .container-signUp .form-group {
  z-index: 2;
  left: 7.5%;
  top: 15%;
  width: 85%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* line 84, ../sass/signUp2.scss */
body .signUp .container .container-signUp .form-group .info-rue {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 89, ../sass/signUp2.scss */
body .signUp .container .container-signUp .form-group .info-ville {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* line 95, ../sass/signUp2.scss */
body .signUp .container .container-signUp .form-group input {
  width: 86%;
  height: 40px;
  margin: 5px 0 11px 0;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.71);
}
/* line 105, ../sass/signUp2.scss */
body .signUp .container .container-signUp .form-group select {
  margin: 30px auto 20px auto;
  width: 80%;
}
/* line 110, ../sass/signUp2.scss */
body .signUp .container .container-signUp .form-group .container-btn-status button {
  margin: 10px auto 30px auto;
}
/* line 114, ../sass/signUp2.scss */
body .signUp .container .container-signUp .form-group textarea {
  margin: 10px 0 0 0;
}
/* line 117, ../sass/signUp2.scss */
body .signUp .container .container-signUp .form-group .label-input {
  position: absolute;
  left: 0%;
  height: 30px;
  font-size: 13px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 127, ../sass/signUp2.scss */
body .signUp .container .container-signUp .form-group .label-input h2 {
  margin-bottom: 7px;
  width: 100%;
  margin-left: -45px;
}
/* line 134, ../sass/signUp2.scss */
body .signUp .container .container-signUp .boutton-envoyer {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 140, ../sass/signUp2.scss */
body .signUp .container .container-signUp .boutton-envoyer a {
  padding: 15px 20px;
  background-color: #0bb017;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
/* line 148, ../sass/signUp2.scss */
body .signUp .container .container-signUp .boutton {
  position: absolute;
  width: 75.5%;
  text-align: center;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 12%;
  top: 95%;
  bottom: 0%;
  background-color: rgba(3, 23, 46, 0.75);
}
/* line 162, ../sass/signUp2.scss */
body .signUp .container .container-signUp #boutton-bis {
  margin-top: 60%;
  width: 90%;
  left: 5%;
}
/* line 170, ../sass/signUp2.scss */
body #cercle-black {
  background-color: black;
}
